{% extends "base.html" %}
{% block content %}
    <h2>Список груп користувачів</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Опис</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.description }}</td>
                    <td>
                        <a href="{% url 'edit_group' group.id %}" class="btn btn-primary">Змінити</a>
                        <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_group' %}" class="btn btn-success">Додати групу</a>
{% endblock %}




